* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* margin: 0; */
}

.airplane-container {
  margin: 25px 0;
  /* border: solid 2px; */
  padding: 40px
}

.airplane-container select {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #0d0e0f;
  
  @media (min-width: 768px) {
    width: 80%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 30px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px; */
}

.showcase li small {
  margin-left: 2px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
 
}

.row {
  display: flex;
}


.seat {
  background-color: #444451;
  height: 24px;
  width: 30px;
  margin: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}
.seat.selected small {
  margin-right: -15px !Important;
  color: red;
}

.seat.occupied {
  background-color: rgb(255, 2, 2);
}

.seat:nth-of-type(2) {
  margin-right: 28px;
}

.seat:nth-last-of-type(2) {
  margin-left: 28px;
}

.second-row {
  margin-bottom: 40px;
}
.fourth-row {
  margin-bottom: 40px;
}

#bc {
  display: none;
}

#extra-leg {
  display: none;
}

#regular-seats {
  display: none;
}
